@charset "utf-8";
 
.wrapper{
 margin: 0 auto;
 width: 400px
}
.header{
 float: auto;
 /* 上の余白 */
 margin-top: 10px;
 /* 横幅 */
 width: 400pX;
 /* 左寄せ */
 text-align: left;
 /* 背景を青色にする */
 background-color: blue;
 /* 文字の色を白にする */
 color: white;
 /* 背景に対して文字を縦方向に中央揃え */
 display: flex;
 align-items: center; 
}
 
ul li {
 margin-top: 10px;
 list-style: none;
}
 
label {
 width: 100px;
 float: left;
}
 
ul {
 width: 400px;
 margin: 0 auto;
}
input#button {
 display: block;
 margin: 0 auto;
}
ul li.pass {
 /* 下の余白 */
 margin-bottom: 15px;
}
 
.footer{
 float: auto;
 /* 上の余白 */
 margin-top: 10px;
 /* 横幅 */
 width: 400pX;
 /* 左寄せ */
 text-align: left;
 /* 背景を青色にする */
 background-color: blue;
 /* 文字の色を白にする */
 color: white;
 /* 背景に対して文字を縦方向に中央揃え */
 display: flex;
 align-items: center; 
}
